.Register {
  background-color: transparent;
  color: #fafafa;
  border: 1px solid #3f6974;
}

.Register:hover {
  background-color: #3f6974;
  color: #fafafa;
  border: 1px solid #3f6974;
}

.Register:active {
  background-color: #63b1c4 !important;
  color: #fafafa;
  border: 1px solid #63b1c4 !important;
}

.Icon {
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  border: 0;
}

.Icon:hover {
  background-color: transparent;
  color: #b78f1d;
}

.Icon:active {
  background-color: transparent !important;
  color: #fafafa;
}

.Panel {
  border: 1px solid #3f6974;
  border-radius: 5px;
  background-color: transparent;
}

.PanelButton {
  background-color: transparent;
  color: #fafafa;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size:large;
}

.PanelButton:hover {
  background-color: rgba(250, 250, 250, 0.10);
  color: #ffffff;
}

.PanelButton:active {
  background-color: rgba(250, 250, 250, 0.2);
  color: #b78f1d;
}

.Single {
  background-color: rgba(250, 250, 250, 0.1);
  color: #fafafa;
  border: 1px solid #3f6974;
  border-radius: 5px;
}

.Single:hover {
  background-color: rgba(250, 250, 250, 0.20);
  border: 1px solid #3f6974;
  color: #ffffff;
}

.Single:active {
  background-color: rgba(250, 250, 250, 0.3) !important;
  border: 1px solid #3f6974 !important;
}

.Single:disabled {
  background-color: rgba(250, 250, 250, 0.3) !important;
  border: 1px solid #3f6974 !important;
}

.Success {
  background-color: transparent;
  border: 1px solid #284933 !important;
}

.Success:hover {
  background-color: rgba(48, 161, 4, 0.2);
  border: 1px solid #284933 !important;
}

.Success:active {
  border: 1px solid #284933 !important;
  color: #fafafa  !important;
}

.Success:disabled {
  border: 1px solid #284933 !important;
  color: #fafafa  !important;
}

.Danger {
  background-color: #222831;
  border: 1px solid #492828 !important;
}

.Danger:hover {
  background-color: rgba(161, 4, 4, 0.2);
  border: 1px solid #492828 !important;
}

.Danger:active {
  background-color: rgba(161, 4, 4, 0.3) !important;
  border: 1px solid #492828 !important;
  color: #fafafa  !important;
}

.Danger:disabled {
  background-color: rgba(161, 4, 4, 0.1) !important;
  border: 1px solid #492828 !important;
  color: #fafafa  !important;
}
