/* Uncomment to see element outlines */
/* * {
  border: 1px dashed red;
} */

.App {
  background-color: rgb(33, 39, 48);
  min-height: 100vh;
}

.Main {
  color: #fafafa;
  padding-top: 100px;
}

.PageHeader {
  margin-top: 10px;
  margin-bottom: 50px;
}

.Box {
  border: 1px solid rgb(183, 143, 29);
  padding: 20px;
  margin-bottom: 20px;
}

.InnerBox {
  background-color: rgba(63, 105, 116, 0.2);
  border: none;
  padding: 10px;
}

.OrangeText {
  color: rgb(183, 143, 29);
}

.YellowText {
  color: #eece30;
}

.SecondaryText {
  color: #8dacb6;
}

.Link {
  color: #b78f1d;
}

.Link:hover {
  color: #fafafa;
}

.NoScrollBars * {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
