/* Uncomment to see element outlines */
/* * {
  border: 1px dashed red;
} */

.App {
  background-color: #222831;
  min-height: 100vh;
}

.Main {
  color: #fafafa;
  padding-top: 100px;
}

.PageHeader {
  margin-top: 10px;
  margin-bottom: 50px;
}

.Box {
  border: 1px solid #3f6974;
  padding: 20px;
}

.OrangeText {
  color: #b78f1d;
}

.SecondaryText {
  color: #3f6974;
}
